* {
    font-family: sans-serif;
}

.flex-container {
display: flex;
padding: 0;
margin: 0;
/* box-sizing: border-box; */
list-style: none;
text-align: center;
gap: 5px;
user-select: none;
margin: 0 0 10px 0;
/* flex-wrap: nowrap;
flex-direction: row-reverse; */
flex-flow: nowrap row-reverse;
}

h2 {
    width: 250px;
    background: rgb(145, 109, 179);
    position: relative;
    bottom: 5px;
}

.flex-item {

    background: rgb(95, 184, 184);
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 9px;
}

.flex-item:hover {
    cursor: pointer;
    opacity: 0.9;

}

.row-reverse {

    flex-direction: row;
}

.row-reverse li {
    
   background: crimson;
}

.column {

    float: left;
    flex-direction: column;
}

.column li {

    background: rgb(109, 151, 47);
}

.column-reverse {

    float: right;
    flex-direction: column-reverse;
}

.column-reverse li {

    background: rgb(49, 47, 151);
}