* {

    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
    gap: 3px;
}



/* FLEXS */

.flex-container {

    display: flex;
    align-items: center;
    
    gap: 5px;
    border: solid black 1px;
    width: 450px;
    height: 350px;
  
}

.rr-wr {

    flex-flow: row-reverse wrap-reverse;
}
.r-w-reverse {

    flex-flow: row wrap-reverse;
}
.r-w {

    flex-flow: row wrap;
}


ul {

    list-style: none;
}

li:hover {

    cursor: pointer;
    opacity: 0.9;
}


.item {
    display: flex;

    align-items: center;
    justify-content: center;
        width: 50px;
        height: 50px;
        color: white;
        background: rgb(119, 65, 170);

}


.item-02 {
    display: flex;
    align-items: center;
    justify-content: center;
        width: 50px;
        height: 50px;
        color: white;
        background: rgb(168, 45, 45);

}

.item-03 {
    display: flex;
    align-items: center;
    justify-content: center;
        width: 50px;
        height: 50px;
        color: white;
        background: rgb(71, 141, 82);

}


/*  bgs */

